<div class="sixteen columns">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @guest.name %>
</p>

<p>
  <b>Email:</b>
  <%= @guest.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @guest.phone %>
</p>

<p>
  <b>Address:</b>
  <%= @guest.address %>
</p>

</div>
