<%= form_for(@recording) do |f| %>
  <% if @recording.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recording.errors.count, "error") %> prohibited this recording from being saved:</h2>

      <ul>
      <% @recording.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'Title' %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :'The URL where this recording is stored in MP3 form' %>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 5 %>
  </div>
  <div class="field">
    <%= f.label 'Where this recording was made' %>
    <%= f.text_field :place %>
  </div>
  <div class="field">
    <%= f.label 'The year this recording was made' %>
    <%= f.date_select :when, { :start_year => Time.now.year, :end_year => Time.now.year - 40, :discard_day => true, :discard_month => true } %>
  </div>

  <p>
    Please share this recording below if you're comfortable with it being publicly published now on this site.
  </p>

  <div class="actions">
    <%= f.submit 'Share this recording' %>
  </div>

<% end %>