<div class="sixteen columns">

<p id="notice"><%= notice %></p>

<h3><%= @recording.title %></h3>

<p>
  <strong><%= link_to @recording.url, @recording.url %></strong>
</p>

<p>
  <%= @recording.description %>
</p>

<p>
  Recorded in 
  <%= @recording.when.year %><% if @recording.place != '' %> in 
    <%= @recording.place %>
  <% end %>
</p>
</end>