<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label :'Title' %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :'The URL where this video is stored' %> (required)
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 5 %>
  </div>
  <div class="field">
    <%= f.label 'Where this video was made' %>
    <%= f.text_field :place %>
  </div>
  <div class="field">
    <%= f.label 'The year this video was made' %>
    <%= f.date_select :when, { :start_year => Time.now.year, :end_year => Time.now.year - 40, :discard_day => true, :discard_month => true } %>
  </div>

  <p>
    Please share this video below if you're comfortable with it being publicly published now on this site.
  </p>

  <div class="actions">
    <%= f.submit 'Share this video' %>
  </div>

<% end %>
