<div class="sixteen columns">
	<p id="notice"><%= notice %></p>

<h3><%= @video.title %></h3>

<p>
  <strong><%= link_to @video.url, @video.url %></strong>
</p>

<p>
  <%= @video.description.html_safe %>
</p>

<p>
  Recorded in 
  <%= @video.when.year %><% if @video.place != '' %> in 
    <%= @video.place %>
  <% end %>
</p>
</div>