    <div class="two-thirds column">

<style type="text/css"> nav {display: none !important;}</style>
<p>Matthew Mao-Ting Schuler (born April 23, 1973 in Monterey, California), a devoted friend, son, brother, and craftsman, passed away on May 13, 2013 in Portland, Oregon. He is survived by his friends and family.</p>

<p>Many of these friends and family gathered to celebrate his life at:</p>

<p style="text-align:center">
  <em><strong>1:00&ndash;4:00pm PST</strong></em><br />
  <em><strong>Saturday May 18<span class="superscript">th</span>, 2013</strong></em><br />
  <br />
  <em><strong>Sandbox Studios</strong></em><br />
  <em><strong>420 NE 9th Ave., 97232</strong></em><br />
  <em><strong>Portland, Oregon</strong></em>
</p>

<p>To contact his household, email <a href="mailto:rememberingmatthew@googlegroups.com">rememberingmatthew@googlegroups.com</a>.</p>

<p>Out of respect for our dearly departed, many of Portland's top cocktail bars <a href="https://www.facebook.com/events/314688511994867/">silenced their shakers from 5:15pm to 5:25pm on Friday, May 17th</a>. No drinks were made or served for ten minutes. <a href="http://www.oregonlive.com/dining/index.ssf/2013/05/bartenders_shakers_will_go_sil.html">OregonLive ran a story on this</a> on May 16th.</p>

<p>Donations are accepted <a href="/donations">on this site</a>, and we'd also like to direct <a href="http://www.tipnational.org/donatetotip.html">donations to Trauma Intervention Programs (TIP)</a> for the help their volunteer has been to his household in recovering from the traumatic loss of a loved one </p>

<p><em>You are encouraged to share <%= link_to 'stories', stories_path %>, <%= link_to 'photos', photos_path %>, <%= link_to 'recordings', recordings_path %>, and <%= link_to 'videos', videos_path %> here of Matthew and your life with him.</em></p>

<h3>Most Recent Stories</h3>

<% @stories.each do |story| %>
<p class="story">
<strong><%= link_to story.title, story %></strong> (<%= story.when.year %><% if story.place != ''%> in <%= story.place %><% end %>) <em><% if story.submitter != ''%>by <% end %><% if story.email != '' %><a href="mailto:<%= story.email %>"><% end %><%= story.submitter %><% if story.email != '' %></a><% end %></em>
</p>
<% end %>

<p><%= link_to 'Contribute a story of your own', new_story_path %> or <%= link_to 'view all stories', stories_path %></p>

<h3>Most Recent Photos</h3>

<div class="album">
  <% @photos.each do |photo| %><%= link_to image_tag(photo.photograph.url(:small)), photo %><% end %>
</div>

<p><%= link_to 'Contribute a photo of your own', new_photo_path %> or <%= link_to 'view all photos', photos_path %></p>

<h3>Most Recent Recordings</h3>

<% @recordings.each do |recording| %>
  <p>  
    <strong><%= link_to recording.title, recording %></strong> (<%= recording.when.year %><% if recording.place != '' %> in <%= recording.place %><% end %>)
  </p>
<% end %>

<p><%= link_to 'Contribute a recording of your own', new_recording_path %> or <%= link_to 'view all recordings', recordings_path %></p>


    </div>
    <div class="one-third column">
      <div class="sidebar">
        <div>
          <img src="/images/matthew.jpg" alt="Matthew Schuler" />
          <strong>Matthew Schuler</strong><br />
          <em>April 23, 1973&ndash;May 13, 2013</em>
        </div>
        <ul>
          <li><a href="/stories">Stories</a></li>
          <li><a href="/photos">Photos</a></li>
          <li><a href="/recordings">Recordings</a></li>
          <li><a href="/videos">Videos</a></li>
          <li><a href="/guests">Guestbook</a></li>
          <li><a href="/donations">Donate</a></li>
        </ul>
      </div>
    </div>
