<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %> 
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label 'Where this story took place' %>
    <%= f.text_field :place %>
  </div>
  <div class="field">
    <%= f.label 'The year this story took place' %>
    <%= f.date_select :when, { :start_year => Time.now.year, :end_year => Time.now.year - 40, :discard_day => true, :discard_month => true } %>
  </div>
  <div class="field">
    <%= f.label 'Your name if you would like to share it' %>
    <%= f.text_field :submitter %>
  </div>
  <div class="field">
    <%= f.label 'Your email address, if you would like to share it' %>
    <%= f.text_field :email %>
  </div>
  <p>
    Please share this story below if you're comfortable with it being publicly published now on this site.
  </p>
  <div class="actions">
    <%= f.submit 'Share this story' %>
  </div>
<% end %>
