<div class="sixteen columns">
<h2>Stories</h2>
<p><%= link_to 'Contribute a story of your own', new_story_path %></p>

<% @stories.each do |story| %>
<p class="story">
  <strong><%= link_to story.title, story %></strong> (<%= story.when.year %><% if story.place != ''%> in <%= story.place %><% end %>) <em>by <% if story.email != '' %><a href="mailto:<%= story.email %>"><% end %><%= story.submitter %><% if story.email != '' %></a><% end %></em>
</p>
<% end %>

</div>