<div class="sixteen columns">
<p id="notice"><%= notice %></p>

<p>
  <h2><%= @story.title %></h2>
</p>

<p>
  <%= @story.when.year %><% if @story.place != ''%> in <%= @story.place %><% end %>
</p>


<p>
  <%= @story.content %>
</p>

<p>
  <em>&mdash;<% if @story.email != '' %><a href="mailto:<%= @story.email %>"><% end %><%= @story.submitter %><% if @story.email != '' %></a><% end %>, <%= @story.created_at.month %>/<%= @story.created_at.day %>/<%= @story.created_at.year %></em>
</p>
</div>