<div class="sixteen columns">

<p id="notice"><%= notice %></p>

<p><%= image_tag @photo.photograph.url(:large) %></p>

<p>
  <%= @photo.description %>
</p>

<p>
  Taken in 
  <%= @photo.when.year %>
  <% if @photo.place != '' %> in 
    <%= @photo.place %>
  <% end %>
</p>
</div>